:root {
  /* Paleta de Cores */
  --color-pink-light: #F7DDE2;
  --color-green-soft: #9ED2C6;
  --color-gray-light: #ECECEC;
  --color-black-soft: #404040;
  --color-white: #FFFFFF;
  --color-text-main: #404040;
  --color-text-muted: #757575;
  --color-danger: #ff6b6b;
  --color-success: #51cf66;

  /* Fontes */
  --font-family-main: 'Inter', sans-serif;

  /* Espaçamentos */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Bordas */
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 20px;
  --border-radius-circle: 50%;

  /* Sombras */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
}
